<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="photo.css">
    <title>Contact Us</title> 
    <style>
        body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  background: url(./assets/vintage-pink-telephone-composition.jpg)no-repeat center;  
  border: 2px solid black;
  padding: 25px;
  
  background-repeat: no-repeat;
  background-size: 100%;
 
}

.container {
  text-align: center; 

}

h1 {
    
  font-size: 40px;
  margin-top: 105px; 
  text-shadow: 0px 2px 15px rgb(255, 255, 40); 
  text-decoration:underline;
  text-decoration-style:dotted;  
  

  #myDIV {
    background-color:#FFFFFF;
    width: 1200%;
    height: 300px;
    display: flex;
    align-items: center;
  } 
}

  
  #myDIV p {
   color: #007bff;  
  font-size: 40px;
  margin-top: 45px; 
    font-size: 42px;
    color:blue; 
    margin-top: 300px;
    text-shadow: 0px 2px 15px rgb(40, 255, 65); 
    text-decoration:underline;
    text-decoration-style:dotted;  
    text-decoration-color: purple; 
    position: relative;
    animation: mymove 4s infinite; /* Double the duration to account for both animations */
  }
  
  @keyframes mymove {
    0%, 100% {left: -300px;}
    50% {left: 300px;}
  }

h2{
  color:rgb(18, 3, 180); 
  text-shadow:0px 0px 10px rgb(11, 223, 11)
 
} 
p{
  color:blue; 
  text-shadow: rgb(40, 47, 255);
}


.contact-container {
  display: flex;
  align-items: center;
  max-width: 2800px;
  margin: 100px 0; /* Adjusted margin for spacing between heading and photos */
}

.contact-member {
  text-align: center;
  margin: 0 20px; /* Adjusted margin for spacing between contact members */
}

.contact-member img{
  width: 175px;
  height: 175px;
  border-end-end-radius:20%;
  box-shadow: 0px 10px 20px rgb(251, 0, 255); 
}
.contact-member:hover img{
  box-shadow: 0px 10px 20px rgb(255, 242, 0);
}
.contact-member h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.contact-member p {
  font-size: 0.8em;
  color: #555; 
  color:rgb(246, 255, 0);  
  margin-bottom: 22
  0px;
 
} 
    </style>
    
    <div id="myDIV">
        <p>Contact Us</p>
      </div> 
    <hr></hr>
</head>
<body>
<hr>_________________________________________________________________________________________________________________</hr>
<div class="contact-container">
    <div class="contact-member">
        <img src="/assets/Shreyas_photo.jpg" alt="Member 1"> 
        <a href="https://www.linkedin.com/in/shreyash-ghanekar-584217192/"><h2>Shreyash Ghanekar</h2></a>
        <a href="https://mail.google.com/mail/u/0/#search/shreyasghn618%40gmail.com?compose=new"><p>Email:shreyasghn618@gmail.com </p></a>
    </div>
    
    <div class="contact-member">
        <img src="/assets/Rahul_photo.jpg" alt="Member 2">
        <a href="https://www.linkedin.com/in/rahul-kamble-a41691251/"><h2>Rahul Kamble</h2></a>
        <a href="https://mail.google.com/mail/u/0/#search/rohitkamble3018%40gmail.com?compose=new"><p>Email:rohitkamble3018@gmail.com </p></a>
    </div>

    <div class="contact-member">
        <img src="/assets/soham_photo.jpg" alt="Member 3">
        <a href="https://www.linkedin.com/in/soham-holkar-a45261261/"><h2>Soham Holkar</h2></a>
        <a href="https://mail.google.com/mail/u/0/#search/sohamholkar800%40gmail.com?compose=new"><p>Email:sohamholkar800@gmail.com </p></a>
    </div>
    
    <div class="contact-member">
        <img src="/assets/swapnil_photo.jpg" alt="Member 4">
        <a href="https://www.linkedin.com/in/swapnil-badave-7b538925a/"><h2>Swapnil Badave</h2></a>
        <a href="https://mail.google.com/mail/u/0/#search/swapnilbadave007%40gmail.com?compose=new"><p>Email:swapnilbadave007@gmail.com </p></a>
    </div> 
    <div class="contact-member">
        <img src="/assets/kanad.jpg" alt="Member 4">
        <a href="https://www.linkedin.com/in/kanad-kulkarni-aabb91259/"><h2>Kanad Kulkarni</h2></a>
        <a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSDXmXQvWvXPrdWtbRkTsGsrqmjNlwkTxGsmsVnjQtvKpGCKDdVmrtpHJpBWlGctDrWFcCJK"><p>Email:skanadkulkarni2013@gmail.com</p></a>
    </div>
</div>

